{% extends 'librarian/base.html' %}
{% load static %}

<style>
    .background-image {
        width: 100%;
        height: auto;
    }
    .form-container {
        padding-top: 87px;
    }
</style>

<img src="{% static 'css/aa.jpg' %}" alt="Background image" class="background-image" />

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-8 form-container">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-primary"></i>
                    Fill In Information Of Request
                </div>
                <div class="card-body">
                    <form action="{% url 'cfbook' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Operator Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="year" placeholder="Job" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="author" placeholder="OF" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="desc" placeholder="Plan/Article" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Nands" placeholder="N/S" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="UAP" placeholder="UAP" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="urgent" placeholder="Controller Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="produit" placeholder="Nbre Pdt Controlé" required>
                        </div>
                       
                       
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
